<!DOCTYPE html>
<html>
<head>
    <title>Pools</title>
    <!-- <meta http-equiv="refresh" content="5"> Refresh the page every 5 seconds -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
    <style>
        .message-container {
            position: fixed;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            background-color: lightgray;
            padding: 10px;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Νούμερα</h1>
    <ul>
        {% for barcode in office_pool %}
        <li>{{ barcode }}</li>
        {% endfor %}
    </ul>

    <h1>Assigned Offices</h1>
    <ul>
        {% for office_number, barcodes in assigned_offices.items() %}
        <li>
            Office {{ office_number }}:
            <ul>
                {% for barcode in barcodes %}
                <li>{{ barcode }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>

    <h1>Chemo Waiting Pool</h1>
    <ul>
        {% for barcode in chemo_waiting_pool %}
        <li>{{ barcode }}</li>
        {% endfor %}
    </ul>

    <h1>Treatment Rooms</h1>
    <ul>
        {% for room_number, barcode in treatment_rooms.items() %}
        <li>Treatment Room {{ room_number }}: {{ barcode }}</li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary" onclick="issueTicket()">Issue Ticket</button>
    
    <h2>Assign to Office</h2>
    <select id="barcodeSelect">
        {% for barcode in office_pool %}
        <option value="{{ barcode }}">{{ barcode }}</option>
        {% endfor %}
    </select>
    <select id="officeSelect">
        {% for office_number in range(1, 4) %}
        <option value="{{ office_number }}">Office {{ office_number }}</option>
        {% endfor %}
    </select>
    <button onclick="assignToOffice()">Assign</button>

    <h2>Proceed to Chemo</h2>
    <select id="chemoSelect">
        {% for office_number, barcodes in assigned_offices.items() %}
            {% for barcode in barcodes %}
                <option value="{{ barcode }}">Office {{ office_number }} - {{ barcode }}</option>
            {% endfor %}
        {% endfor %}
    </select>
    <button onclick="proceedToChemo()">Proceed</button>

    <div class="message-container">
        <h2 id="resultMessage"></h2>
    </div>

    <h2>Proceed to Treatment Room</h2>
    <select id="roomSelect">
        {% for room_number, barcode in treatment_rooms.items() %}
            <option value="{{ room_number }}">Treatment Room {{ room_number }}</option>
        {% endfor %}
    </select>
    <button onclick="proceedToTreatment()">Proceed</button>
    <h2>Remove Barcode</h2>
    <input type="text" id="removeBarcodeInput" placeholder="Barcode">
    <button class="btn btn-danger" onclick="removeBarcode()">Remove</button>

    <script>
        function removeBarcode() {
            const barcodeInput = document.getElementById('removeBarcodeInput');
            const barcode = barcodeInput.value;

            fetch('/rmv-barcode', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    barcode: barcode
                })
            })
            .then(response => response.json())
            .then(data => {
                const resultMessage = document.getElementById('resultMessage');
                resultMessage.innerText = data.message;
                location.reload();// Refresh the page or update the UI as needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }
        function issueTicket() {
            fetch('/issue-number')
                .then(response => response.json())
                .then(data => {
                    const resultMessage = document.getElementById('resultMessage');
                    resultMessage.innerText = `New ticket issued: ${data.barcode}`;
                    location.reload();// Refresh the page or update the UI as needed
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        }

        function assignToOffice() {
            const barcodeSelect = document.getElementById('barcodeSelect');
            const officeSelect = document.getElementById('officeSelect');
            const barcode = barcodeSelect.value;
            const officeNumber = officeSelect.value;

            fetch('/assign-office', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    barcode: barcode,
                    office_number: officeNumber
                })
            })
            .then(response => response.json())
            .then(data => {
                const resultMessage = document.getElementById('resultMessage');
                resultMessage.innerText = data.message;
                location.reload();// Refresh the page or update the UI as needed
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function proceedToChemo() {
            const chemoSelect = document.getElementById('chemoSelect');
            const barcode = chemoSelect.value;

            fetch('/add-to-chemo-waiting', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    barcode: barcode,
                    status: true
                })
            })
            .then(response => response.json())
            .then(data => {
                const resultMessage = document.getElementById('resultMessage');
                resultMessage.innerText = data.message;
                setTimeout(function() {
                    location.reload(); // Refresh the page after a certain duration
                }, 1000); // Refresh after 5 seconds (5000 milliseconds)
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }

        function proceedToTreatment() {
            const roomSelect = document.getElementById('roomSelect');
            const roomNumber = roomSelect.value;

            fetch('/assign-treatment-room', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    room_number: roomNumber
                })
            })
            .then(response => response.json())
            .then(data => {
                const resultMessage = document.getElementById('resultMessage');
                if (data.barcode) {
                    resultMessage.innerText = `Proceeded to Treatment Room ${roomNumber}. Barcode: ${data.barcode}`;
                } else {
                    resultMessage.innerText = `No barcodes available in the Chemo Waiting Pool.`;
                }
                setTimeout(function() {
                    location.reload(); // Refresh the page after a certain duration
                }, 5000); // Refresh after 5 seconds (5000 milliseconds)
            })
            .catch(error => {
                console.error('Error:', error);
            });
        }




        // setTimeout(function() {
        //     location.reload(); // Refresh the page
        // }, 5000); // Reload every 5 seconds (5000 milliseconds)
    </script>
</body>
</html>
